@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  /* overflow: hidden; */
}

/* .sidebar {
  width: 300px;
  position: sticky;
  top: 0;
  height: 100vh;
} */

/* .line::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 1px;
  background-color: black;
  border: 1px solid black;
} */
